Bee Chang

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
#reading the data
df=pd.read_csv('Hw_5_list.csv')
df.head()

   Transaction ID               Items
0               1   Milk, Bread, Eggs
1               2         Milk, Bread
2               3          Milk, Eggs
3               4         Bread, Eggs
4               5                Milk

In [ ]:
df.shape

(10, 2)

In [ ]:
#converting dataframe into a list of lists.
data=list(df["Items"].apply(lambda x:x.split(",")))
data

[[' Milk', ' Bread', ' Eggs'],
 [' Milk', ' Bread'],
 ['Milk', ' Eggs'],
 ['Bread', ' Eggs'],
 ['Milk'],
 ['Bread'],
 ['Eggs'],
 ['Milk', ' Bread', ' Eggs'],
 ['Milk', ' Bread'],
 ['Bread', ' Eggs']]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
a=TransactionEncoder()
a_data=a.fit(data).transform(data)
df=pd.DataFrame(a_data, columns=a.columns_)

#Turn False & True into numeric value
df=df.replace(False,0)
df=df.replace(True,1)

df

    Bread   Eggs   Milk  Bread  Eggs  Milk
0       1      1      1      0     0     0
1       1      0      1      0     0     0
2       0      1      0      0     0     1
3       0      1      0      1     0     0
4       0      0      0      0     0     1
5       0      0      0      1     0     0
6       0      0      0      0     1     0
7       1      1      0      0     0     1
8       1      0      0      0     0     1
9       0      1      0      1     0     0

In [ ]:
df=apriori(df,min_support=0.1,use_colnames=True)
df

    support                itemsets
0       0.4                ( Bread)
1       0.5                 ( Eggs)
2       0.2                 ( Milk)
3       0.3                 (Bread)
4       0.1                  (Eggs)
5       0.4                  (Milk)
6       0.2         ( Bread,  Eggs)
7       0.2         ( Milk,  Bread)
8       0.2          (Milk,  Bread)
9       0.1          ( Milk,  Eggs)
10      0.2          (Bread,  Eggs)
11      0.2           (Milk,  Eggs)
12      0.1  ( Milk,  Bread,  Eggs)
13      0.1   (Milk,  Bread,  Eggs)

In [ ]:
df_ar=association_rules(df,metric="lift", min_threshold=1)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Bread),( Eggs),0.4,0.5,0.2,0.500000,1.000000,0.00,1.000000
1,( Eggs),( Bread),0.5,0.4,0.2,0.400000,1.000000,0.00,1.000000
2,( Milk),( Bread),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
3,( Bread),( Milk),0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
4,(Milk),( Bread),0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
5,( Bread),(Milk),0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
6,( Milk),( Eggs),0.2,0.5,0.1,0.500000,1.000000,0.00,1.000000
7,( Eggs),( Milk),0.5,0.2,0.1,0.200000,1.000000,0.00,1.000000
8,(Bread),( Eggs),0.3,0.5,0.2,0.666667,1.333333,0.05,1.500000
9,( Eggs),(Bread),0.5,0.3,0.2,0.400000,1.333333,0.05,1.166667
10,(Milk),( Eggs),0.4,0.5,0.2,0.500000,1.000000,0.00,1.000000
11,( Eggs),(Milk),0.5,0.4,0.2,0.400000,1.000000,0.00,1.000000
12,"( Milk, Bread)",( Eggs),0.2,0.5,0.1,0.500000,1.000000,0.00,1.000000
13,"( Milk, Eggs)",( Bread),0.1,0.4,0.1,1.000000,2.500000,0.06,inf
14,"( Bread, Eggs)",( Milk),0.2,0.2,0.1,0.500000,2.500000,0.06,1.600000
15,( Milk),"( Bread, Eggs)",0.2,0.2,0.1,0.500000,2.500000,0.06,1.600000
16,( Bread),"( Milk, Eggs)",0.4,0.1,0.1,0.250000,2.500000,0.06,1.200000
17,( Eggs),"( Milk, Bread)",0.5,0.2,0.1,0.200000,1.000000,0.00,1.000000
18,"(Milk, Bread)",( Eggs),0.2,0.5,0.1,0.500000,1.000000,0.00,1.000000
19,"(Milk, Eggs)",( Bread),0.2,0.4,0.1,0.500000,1.250000,0.02,1.200000
20,"( Bread, Eggs)",(Milk),0.2,0.4,0.1,0.500000,1.250000,0.02,1.200000
21,(Milk),"( Bread, Eggs)",0.4,0.2,0.1,0.250000,1.250000,0.02,1.066667
22,( Bread),"(Milk, Eggs)",0.4,0.2,0.1,0.250000,1.250000,0.02,1.066667
23,( Eggs),"(Milk, Bread)",0.5,0.2,0.1,0.200000,1.000000,0.00,1.000000

In [ ]:
df_ar=association_rules(df,metric="confidence", min_threshold=0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Milk),( Bread),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1,(Bread),( Eggs),0.3,0.5,0.2,0.666667,1.333333,0.05,1.5
2,"( Milk, Eggs)",( Bread),0.1,0.4,0.1,1.000000,2.500000,0.06,inf